body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0b0f1a;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #0b0f1a;
  border-bottom: 1px solid #1f2a44;
}

.logo {
  color: #7c83ff;
}

.login-btn {
  background: transparent;
  border: 1px solid #2f3b5c;
  padding: 8px 16px;
  border-radius: 10px;
  color: #cbd5e1;
  cursor: pointer;
}

/* Hero Section */
.hero {
  text-align: center;
  margin-top: 80px;
}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
}

.hero p {
  color: #94a3b8;
  margin-top: 10px;
}

/* Filters */
.filters {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.filters input {
  padding: 12px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #2f3b5c;
  background: #111827;
  color: white;
}

.filters select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #2f3b5c;
  background: #111827;
  color: white;
}

/* Course Cards */
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 40px;
  gap: 20px;
}

.course-card {
  background: #111827;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #1f2a44;
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
}