.public-container {
  padding-top: 80px;
  text-align: center;
}

/* Title */
.public-container h1 {
  font-size: 42px;
  font-weight: bold;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 30px;
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.filters input,
.filters select {
  background: #1e293b;
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  width: 250px;
}

/* Cards */
.course-grid {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.course-card {
  background: rgba(30, 41, 59, 0.6);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.05);

  padding: 20px;
  width: 320px;
  border-radius: 14px;
  text-align: left;

  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
  border-color: #6366f1;
}

.badge {
  display: inline-block;
  margin-top: 10px;

  background: rgba(16, 185, 129, 0.2);
  color: #10b981;

  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.meta {
  margin-top: 10px;
  color: #94a3b8;
}

.author {
  margin-top: 10px;
  color: #a78bfa;
}